/* Body */









/* Navigation */


/* Hero Section */


/* Work Section */
.cardsback {
  background-color: rgb(6, 7, 7);
}

.cardheader {
  color:white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-decoration: dotted;
}

/* Skills Section */


/* Contacts Section */


/* Footer SEction */