/* Body */

html {
  scroll-behavior: smooth;
}
:root {

  --bur:rgb(49, 1, 1);
  --sil:rgb(214, 206, 206);
}




/* Navigation */

.navback {
  background-color: var(--bur);
}
.navback a {
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size:x-large;
}
.navicon {
background-color: white;
}
.navback i {
  margin-right:10px;
}
.navback a:hover {
  color:rgb(38, 174, 174);
}




/* Hero Section */

.profileimg {
  width: 250px;
  height:250px;
  display: flex;
  flex-direction: row;
  justify-content: right;
}
.herosection {
  background-color: var(--sil);
}
.herosection a {
  background-color: var(--bur);
  color:rgb(225, 223, 219);
}
.herobutton {
text-align: center;
}




/* Work Section */

.cardsback {
  background-color: var(--sil);
}
.cardheader {
  color:white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-decoration: dotted;
}
.cardsback h2 {
  color: var(--bur);
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-decoration: underline;
}
.card .btn {
  background-color: var(--bur);
  font-variant: small-caps;
  color: var(--sil);
}




/* Skills Section */

.skillsback{
  background-color: var(--sil);
}
.skillsback h2 {
  color: var(--bur);
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-decoration: underline;
}
.skillsback .badge {
  padding: 20px;
  background-color: var(--bur);
  color: var(--sil);
  font-size:large;
  margin-bottom: 20px;
  display:flex;
  justify-content: center;
  align-items: center;
}




/* Contacts Section */
.contactsection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:  var(--sil);
}



/* Footer SEction */
.footersection {
  height:200px;
  display:flex;
  flex-direction:column;
  justify-content: center;
  background-color: var(--bur); 
}
.footersection .btn {
  background-color: var(--sil);
  color: var(--bur); 
  padding: 5px;
  min-width: 100px;
  max-width: 100px;
  margin-right: 85px;
  font-size: large;
}
.footersection h2 {
 color: var(--sil);
}
.footersection a:hover {
  color:rgb(38, 174, 174);
}
.footersection .btn:hover {
  box-shadow: 0 5px 15px 0 rgb(222, 205, 205);
}
